---
layout: default
browser_title: Gayan Virajith | Web developer based in Colombo, Sri Lanka
---
<div class="posts">

  <blockquote>
    <p>Hi there, I am Gayan Virajith. A self-motivated Developer (who works on the web) based on Colombo, Sri Lanka. Feel free to refer my <a href="{{ '/resume' | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url }}">CV</a> and <a href="{{ '/portfolio' | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url }}">Portfolio</a>. You may also like to see my <a class="sidebar-nav-item" 
        href="https://github.com/{{ site.go.social.github }}"
        target="_blank">
        GitHub
    </a>(Sometime I write code to community too). Thanks
    </p>
  </blockquote>
  <h2>Recent posts </h2>
  <hr/>
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}">
        {{ post.title }}
      </a>
    </h1>

    <div class="post-meta">{{ post.date | date_to_string }}</div>
     {{ post.excerpt }}
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  
  {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">Older</a>    
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}  
  
</div>
{% endif %}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ '' | prepend: site.baseurl | prepend: site.url | append: '/' }}"
    }
}
</script>
