---
layout: default
title: Post Tags on Gayan Virajith Website
group: navigation
menuTitle: Tags
---
<div class="container post-item-container">
    <div class="col-xs-12 post-item-wrapper">
        <div class="post-item">
            <h1>Tags</h1>
            {% capture tags %}
            {% for tag in site.tags %}
            {{ tag[0] }}
            {% endfor %}
            {% endcapture %}
            {% assign sortedtags = tags | split:' ' | sort %}

            {% for tag in sortedtags %}
            <h3 id="{{ tag }}">{{ tag }}</h3>
            <ul>
                {% for post in site.tags[tag] %}
                <li class=""><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</div>