<ul class="nav navmenu-nav">



    {% assign menuItems = include.menuItems | split: "|" %}
    {% for item in menuItems %}

    {% assign tempFile = {{item} | append:'.html' | prepend:'/' | downcase %}

    {% if tempFile == '/home.html' %}
    {% assign tempFile = '/index.html' %}
    {% endif %}


    {% assign activeClass = ''; %}
    {% if page.url ==  tempFile %}
    {%  assign activeClass = 'active';  %}
    {% endif %}

    <li class="{{activeClass}} {{tempFile}}">
        <a href="{{tempFile}}">
            {% if item != 'Posts/Index' %}
            {{item}}
            {% else %}
            Posts
            {% endif %}
        </a>
    </li>
    {% endfor %}

    <!--{% assign pages_list = site.pages %}-->
    <!--{% assign group = 'navigation' %}-->

    <!--{% for node in pages_list %}-->
    <!--{% if group == null or group == node.group %}-->
    <!--{% if page.url == node.url %}-->
    <!--<li class="active"><a href="{{node.url}}" class="active">{{node.menuTitle}}</a></li>-->
    <!--{% else %}-->
    <!--<li class=""><a href="{{node.url}}">{{node.menuTitle}}</a></li>-->
    <!--{% endif %}-->
    <!--{% endif %}-->
    <!--{% endfor %}-->
    <!--{% assign pages_list = nil %}-->
    <!--{% assign group = nil %}-->

</ul>

