---
layout: default
---

<article class="post">
  <header>
  	<h1 class="post-title">{{ page.title }}</h1>
  </header>
  <div class="post-meta">{{ page.date | date_to_string }}</div>
  {{ content }}

  {% if page.categories != empty and page.categories contains 'official-project' %}
  <div>
    <br/>
    <a class="btn" href="{{ '/portfolio' | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url  }}">Back to Portfolio</a>
  </div>
  {% endif %}
  {% if page.categories != empty and page.categories contains 'community-project' %}
  <div>
    <br/>
    <a class="btn" href="{{ '/projects' | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url  }}">Back to Community Projects</a>
  </div>
  {% endif %}
</article>

{% if site.related_posts %}
<div class="related-posts">
  <h2>Related Posts</h2>
  <ul>
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url  }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
